/* style the root of the document (html) to have a background color 
based on a color from the image (try the color picker in the form). */
html.color {
	background-color: grey;
}
/* Give the body a white background, a 10 pixel solid gold border,
and 3 rems (relative ems) of padding. Set the margin to auto to
center the body in the browswer window. Put 20 pixels of margin on top.  */

body.solid {
	border-style: solid;
	background-color: white;
	border-width: 10px;
	border-color: gold;
	padding: 3rem;
	margin: 20px auto 0px;
}





/* Make the h1 element centered and colored 'firebrick' red. */
h1.styling {
	color: firebrick;
	text-align: center;
}

/* The image should have a 50% border radius to make it an elipse.
Make the width of the image 75% smaller, and center it.
(To center an image, you can use the margin:auto trick from 
above, but you will also need to set the display to block.)  */

img.styling{
	border-radius: 50%;
	margin: auto;
	display: block;
	width: 25%
}

/* The "special" class should have a background color of gold.
Just the paragraph marked "special" should have double the 
relative font size (ie: 2rem) as well the gold bkgd. */

p.special{
	background-color: gold;
	font-size: 2rem;
}
ul.special{
	background-color: gold;
}
